<div class="col-md-4">
    <h1>Students</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <button type="button" class="btn btn-default" id="getStudentsBtn" ng-click="getStudents()">Show All Students</button>
    <table class="table table-condensed">
        <thead>
            <th>Pawprint</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Points</th>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td>{{ student.pawprint }}</td>
                <td>{{ student.lname }}</td>
                <td>{{ student.fname }}</td>
                <td>{{ student.pointTotal }}</td>
            </tr>
        </tbody>
    </table>
</div>