<div class="row">
    <h2>Full Name: {{ studentData.fname }} {{ studentData.lname }}</h2>
</div>

<div class="row">
    <button type="button" class="btn btn-danger" ng-click="punish(paw)">Give points or warning</button>
</div>

<table class="table">
    <thead>
    <th>When</th>
    <th>Amount</th>
    <th>Type</th>
    </thead>
    <tbody>
    <tr dir-paginate="item in studentPoints|itemsPerPage:pageSize">
        <td>{{ item.when }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.type }}</td>
    </tr>
    </tbody>
</table>