body{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-image: url('../images/darkdenim3.png');
    padding: 0 10px 0 10px;
}

mark {
    background-color: black;
    color: #F1B82D;
}

.container{
    padding-top: 20px;
}

.form-control{
    color: #000;
}

.navbar{
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 6px double black;
}

.navbar-default .navbar-nav li a{
    color: #000;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #000000;
}

.mainBody{
    color: #F1B82D;
    font-size: 16px;
    text-shadow: 1px   1px  2px   black;
}

.btn-default{
    border-color: #000;
    background-color: #F1B82D;
    color: #000;
    font-weight: 600;
}

.btn-default:hover{
    background-color: #D89F14;
    border-color: #000;
    color: #000;
}

.btn-default:active{
    color: #000;
    background-color: #FFD247;
    border-color: #000;
}

.btn-default:focus{
    color: #000;
    background-color: #FFEB60;
    border-color: #000;
}


#headerBar{
    box-shadow: 0 10px 6px -6px #000;
}

#navTitle{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.studentListRow:hover{
    cursor: pointer;
}

.close{
    opacity: .5;
}

.close:hover{
    opacity: .8;
}

.footer{
    bottom: 0;
    height: 40px;
    background-color: #fff;
    border: 6px double black;
    color: #000;
    text-transform: uppercase;
}

.panel{
    box-shadow: 0 10px 6px -6px #000;
    border-color: #000;
}

.panel-default>.panel-heading{
    background-color: #F1B82D;
}

.panel-title{
    font-weight: 600;
}

.panel-body{
    padding: 8px;
}

thead{
    background-color: #F1B82D;
}

.input-group-addon{
    color: #000;
    background-color: #F1B82D;
    border-color: #000;
}

.input-group .form-control{
    border-color: #000;
}

.nav-tabs.nav-justified{
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 10px 6px -6px #000;
}

.nav-tabs>li>a{
    border: 0px;
}

.nav-tabs.nav-justified>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid black;
}

.nav>li>a:focus{
    background-color: #F1B82D;
}

.nav>li>a:hover{
    background-color: #DBD5CD;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid black;
}

.table>thead:first-child>tr:first-child>th{
    border-top: 1px solid black;
}

#ajaxTarget{
    margin-top: 10px;
}

.alert-messages {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 7000;
}

ul{
    list-style-type: none;
}

.ui-helper-hidden-accessible{
    color: #F1B82D;
}

/*.alert-success{*/
    /*background-color: #F1B82D;*/
    /*color: black;*/
    /*border-color: black;*/
    /*text-align: center;*/
    /*padding: 5px;*/
    /*margin-bottom: 10px;*/
/*}*/

#rewardBtnContainer{
    margin-bottom: 20px;
}

#defaultStudentPageMessage{
    color: #F1B82D;
    text-align: center;
}

#submitPtsForm{
    padding: 20px;
}

#profile-greeting{
    color: #F1B82D;
    text-align: center;
    margin-bottom: 10px;
}

#changePassForm{
    padding: 20px;
}

#addStudentForm{
    padding: 20px;
}

#removeStudentForm{
    padding: 20px;
}

.nav-pills{
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 10px 6px -6px #000;
}

.nav-pills>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

a{
    color: #000;
}

a:focus, a:hover{
    text-decoration: none;
    color: #000;
}

.load-img{
    width: 50%;
    margin: 0 auto;
}

#loader{
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    z-index: 7000;
}

a:focus{
    color: #000;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}