body{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-image: url('../images/darkdenim3.png');
    padding: 0 10px 0 10px;
}

.form-control{
    color: #000;
}

.navbar{
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 5px;
}

.navbar-default .navbar-nav li a{
    color: #000;
}

.navbar-default .navbar-nav li a:hover{
    color: #be8500;
}

.mainBody{
    color: #F1B82D;
    font-size: 16px;
    text-shadow: 1px   1px  2px   black;
}

.btn-default{
    border-color: #000;
    background-color: #F1B82D;
    color: #000;
    font-weight: 600;
}

.btn-default:hover{
    background-color: #ffd247;
}


#headerBar{
    box-shadow: 0 10px 6px -6px #000;
}

#navTitle{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.studentListRow:hover{
    cursor: pointer;
    background-color: #1a1a1a;
}