{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Student Center Point Tracker - Change Password{% endblock %}

{% block content %}

<div id="passChangeContainer" class="container panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Change Your Password</h3>
    </div>
    {{ wtf.quick_form(form, extra_classes="panel-body", form_type="horizontal", id="changePassForm") }}
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == 'message' %}
          <div class="alert alert-warning" role="alert">
        {% else %}
          <div class="alert alert-{{ category }}" role="alert">
        {% endif %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}