{% extends "base.html" %}

{% block title %}Student Center Point Tracker - Complete Point List{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Point History, Ordered by Date</h3>
        </div>
        <div class="panel-body">
            <div class="input-group"> <span class="input-group-addon">Filter</span>
                <input id="filter" type="text" class="form-control" placeholder="Type here...">
            </div>
            <small>Click on a row to reveal that student's page</small>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date Assigned</th>
                    <th>Why</th>
                    <th>Student's PawPrint</th>
                    <th>Amount</th>
                    <th>Supervisor</th>
                    <th>Manager</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for point in points %}
                <tr class='studentListRow active' onclick="window.location.href = '{{url_for(".student", pawprint=point.student_id)}}';">
                    <td>{{ point.when }}</td>
                    <td>{{ point.why }}</td>
                    <td>{{ point.student_id }}</td>
                    <td>{{ point.amount }}</td>
                    <td>{{ point.supervisor }}</td>
                    <td>{{ point.issuer_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}