{% extends "base.html" %}

{% block title %}Student Center Point Tracker - User Profile{% endblock %}

{% block content %}
<div class="container">
    <h1 id="profile-greeting">Please select an option below</h1>
    <ul class="nav nav-pills nav-stacked">
        <li><a href='{{url_for(".change_password", username=current_user.username)}}'>Change Password</a></li>
        <li><a href='{{url_for(".add_student", username=current_user.username)}}'>Add New Student</a></li>
        <li><a href='{{url_for(".remove_student", username=current_user.username)}}'>Remove Student</a></li>
    </ul>
</div>

<div class="alert-messages">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == 'message' %}
          <div class="alert alert-warning fade in" role="alert">
        {% else %}
          <div class="alert alert-{{ category }} fade in" role="alert">
        {% endif %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

{% endblock %}