{% extends "base.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}

{% block title %}Student Center Point Tracker - {{ student.lname }}, {{ student.fname }}{% endblock %}

{% block content %}

<div class="container">
    <table class="table table-bordered panel panel-default">
        <thead>
            <tr>
                <th>PawPrint</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Point Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.pawprint }}</td>
                <td>{{ student.lname }}</td>
                <td>{{ student.fname }}</td>
                <td>{{ student.pointTotal }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert-messages">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == 'message' %}
          <div class="alert alert-warning" role="alert">
        {% else %}
          <div class="alert alert-{{ category }}" role="alert">
        {% endif %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

<div id="punishBtnContainer" class="container">
    <input type="hidden" name="paw" id="hiddenPaw" value="{{ student.pawprint }}"/>
    <button type="button" class="btn btn-danger col-xs-4 col-xs-offset-4" onclick="window.location.href = '{{url_for(".givepointspage", pawprint=student.pawprint)}}'" id="submitPtsBtn">Punish</button>
</div>

<div id="rewardBtnContainer" class="container">
    <button type="button" class="btn btn-success col-xs-4 col-xs-offset-4" onclick="window.location.href = '{{ url_for(".rewardpage", pawprint=student.pawprint) }}'" id="rewardBtn">Reward</button>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="viewSummaryBtn">Summary</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="viewPtsBtn">Points History</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="viewWarnBtn">Warning History</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="viewRewardBtn">Point Removal History</button>
    </div>
</div>
<div id="loader" class="container" style="display:none">
    <div class="row col-md-offset-5">
        <img src="{{ url_for('static', filename='images/332.gif') }}" alt="Loading">
    </div>
</div>
<div id="ajaxTarget" class="container table-responsive">
    <div id="defaultStudentPageMessage">
        <h1>Please select an above option (e.g., Points History) to view information for this student here.</h1>
    </div>
</div>
{% endblock %}