{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Student Center Point Tracker - Complete Warn List{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
    <script>
        var options = {
          valueNames: [ 'date' ]
        };

        var userList = new List('warns', options);
    </script>
{% endblock %}

{% block content %}

<div class="container">
    <div id="warns" class="table-responsive panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Warning History for Current Employees</h3>
        </div>
        <div class="panel-body">
            {% if warns %}
                {% if warns.has_prev %}<a href="{{ url_for('.warnings', page=warns.prev_num) }}">&lt;&lt; Newer warnings</a>{% else %}&lt;&lt; Newer warnings{% endif %} |
                {% if warns.has_next %}<a href="{{ url_for('.warnings', page=warns.next_num) }}">Older warnings &gt;&gt;</a>{% else %}Older warnings &gt;&gt;{% endif %}
            {% endif %}
            {% if query %}
                Showing results for: {{ query }} <br>
                <a href="{{ url_for('.warnings') }}">Clear Search Results</a>
            {% endif %}
            <br><br><mark><small>You may search TYPE, WHY, PAWPRINT, SUPERVISOR, OR MANAGER below</small></mark>
            {{ wtf.quick_form(form, extra_classes="panel-body", form_type="horizontal", id="searchPointsForm") }}
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><button type="button" class="btn btn-default sort" data-sort="date" aria-label="Sort">
                      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                    </button> Date Assigned </th>
                    <th>Type</th>
                    <th>Why</th>
                    <th>PawPrint</th>
                    <th>Supervisor</th>
                    <th>Manager</th>
                </tr>
            </thead>
            <tbody class="list">
                {% if results %}
                {% for result in results %}
                    <tr class='studentListRow active'>
                    <td class="date">{{ result.when }}</td>
                    <td>{{ result.type }}</td>
                    <td>{{ result.why }}</td>
                    <td>{{ result.student_id }}</td>
                    <td>{{ result.supervisor }}</td>
                    <td>{{ result.issuer_id }}</td>
                </tr>
                {% endfor %}
                {% else %}
                {% for warn in warns.items %}
                <tr class='studentListRow active'>
                    <td class="date">{{ warn.when }}</td>
                    <td>{{ warn.type }}</td>
                    <td>{{ warn.why }}</td>
                    <td>{{ warn.student_id }}</td>
                    <td>{{ warn.supervisor }}</td>
                    <td>{{ warn.issuer_id }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}